/**
 * @file
 * Styling for the ds_2col_fluid template.
 */

.eloka-sidebar-layout > .group-left {
  float: left;
  margin-left: 0; 
}

.eloka-sidebar-layout > .group-right {
  float: right;
  width: 240px;
}

.eloka-sidebar-layout.group-one-column > .group-left,
.eloka-sidebar-layout.group-one-column > .group-right {
  width: 100%;
}
.eloka-sidebar-layout.group-one-column > .group-left {
	padding-right: 12px;
}
