@charset "UTF-8";
/* CSS Document */

/*horizontal menu styles*/	
div#navigation {
	background: #918682;
}
ul.menu, ul.menu li {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	font: 14px Geneva, Arial, Verdana, sans-serif;
	text-shadow: 1px 1px #000000;
}
ul.menu {
	height: 2.5em;
	width: 100%;
	margin-left: 100px;
}
ul.menu li {
	border-left: 1px solid #ffffff;
}
ul.menu li:last-child {
	border-right: 1px solid #ffffff;
}
ul.menu li a {
	display: block;
	line-height: 2.5em;
	padding: 0 1em;
	color: #ffffff;
	text-decoration: none;
}
ul.menu li a:hover {
	background: #0095cc;
	height: 2.5em;
}
.current, a:hover.current  {
	background: #b0daea;
	color: #ffffff;
	position: relative;
	cursor: default;
}
