div#productHeader {
    background-color: #FFFFFF;
    background-image: url("/sites/nsidc.org/files/images/data/daac/daac-head-bkg.jpg");
    background-repeat: no-repeat;
    border-bottom: 1px solid #7392A6;
    border-top: 1px solid #7392A6;
    height: 140px;
    padding: 0 0 1px;
}
div#productHeader .bannerBadge {
    border: medium none;
    float: right;
    margin-top: 30px;
    padding-right: 35px;
	background: none;
}
div#productHeader .daac-line, div#productHeader .tagline, div#productHeader .daac-headline {
    clear: left;
    color: #96C6FF;
    font-family: Interval,"Arial Narrow",Arial,sans-serif;
    font-size: 24px;
    margin: 15px 0 0 60px;
    text-shadow: 1px 2px #000000;
}

div#productHeader .daac-headline {
    font-size: 30px;
	margin: 35px 0 10px 60px;
}

div#productHeader .daac-line a, div#productHeader .daac-headline a {
    color: #96C6FF;
    text-decoration: none;
}

div#productHeader h1 {
    color: #FFFFFF;
    float: left;
    font-size: 30px;
    line-height: 36px;
    margin: 8px 0 0 60px;
    padding: 0;
    text-shadow: 2px 2px #595959;
}
div#productHeader h1 a {
    color: #FFFFFF;
    text-decoration: none;
}
div#productHeader .tagline {
    color: #FFFFFF;
    font-size: 18px;
    margin-top: 0;
}
.smap-restricted-data #admin-menu-account li.admin-menu-account {
    display: none;
}