@charset "UTF-8";
/* CSS Document */

#wrapper {
    background: none repeat scroll 0 0 #fff;
}
#content {
    background: none repeat scroll 0 0 #fff;
    float: left;
    margin: 0;
    padding: 20px 0 0;
    width: 100%;
}
#content #right-column {
    background-color: #fff;
    float: left;
    width: 100%;
}
#content #right-column h3 {
    margin-bottom: 10px;
    margin-top: 15px;
}
#content #right-column h2 {
}
.intro {
    font-size: 1.2em;
}
.dataset-title {
    float: left;
    padding-top: 0;
    width: 100%;
}
.dataset-title a {
    color: #486c87;
    text-decoration: none;
}
.dataset-title a:hover {
    text-decoration: underline;
}
.dataset-details {
    border-top: 1px solid #ccc;
    clear: left;
    margin: 5px 25px 20px 0;
    padding: 20px 0;
}
.dataset-details p, .dataset-details h4 {
    margin: 0;
    padding: 0 0 6px;
}
.product-summary-link {
    float: right;
    padding-top: 0;
    width: 125px;
}
.product-summary-link a {
    color: #5c9ba9;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}
.product-summary-link a:hover {
    color: #066;
}
.mat-codes-box {
    float: left;
    margin-top: 20px;
    width: 40%;
}
.val-stage-box {
    float: left;
    margin-left: 70px;
    margin-top: 20px;
    width: 50%;
}
.label {
    font-weight: bold;
    width: 150px;
}
.dataset-text {
    clear: left;
    float: left;
    width: 100%;
}
.dataset-text .image-icon {
    margin: 0;
}
.dataset-text table {
    border: 0 none #fff;
    margin: 0;
    width: 95%;
}
.dataset-text table td {
    border: medium none;
    padding: 0 8px 2px 0;
    vertical-align: top;
}
table.cssTable th {
    font-weight: normal;
    padding: 4px;
    vertical-align: top;
    width: 150px;
}
.dataset-text .more {
    clear: both;
    font-weight: normal;
    margin: 10px 0 0;
    padding: 0 0 15px;
    width: 100%;
}
.dataset-text .more a.more-link, .dataset-text .more2 a.more-link2 {
    background-image: url("/sites/nsidc.org/files/images/data/amsre/arrow-down.png");
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 15px;
    text-decoration: none;
}
.dataset-text .more a.more-link-arrow-up, .dataset-text .more2 a.more-link-arrow-up2 {
    background-image: url("/sites/nsidc.org/files/images/data/amsre/arrow-up.png");
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 15px;
    text-decoration: none;
}
.quick-look {
    background-position: right top;
    background-repeat: no-repeat;
    float: right;
    margin: 0;
    padding: 0;
    width: 80px;
}
.quick-look-box {
    background: none repeat scroll 0 0 #fff;
    margin-top: 10px;
    width: 100%;
    z-index: 2;
}
.dataset-details .quick-look p {
    padding: 0 10px 0 0;
}
.quick-look-box-intro {
    margin-top: 15px;
}
.quick-look-box table {
    border-top: 1px solid #c9dce7;
    margin-bottom: 20px;
    margin-top: 5px;
}
.quick-look-box table td, .quick-look-box-intro table td {
    border-bottom: 1px solid #9fb3cb;
    border-right: 1px solid #9fb3cb;
    line-height: 1.4;
    padding-left: 5px;
}
#contentWrapper #cryo-menus .menu-box {
}
.quick-look-box .cssTable caption {
    padding-bottom: 5px;
    padding-top: 15px;
    text-align: left;
}
.dataset-details .more h3 {
    margin: 0;
    padding: 0;
}
.quick-look-box .table-title {
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.quick-look-box-intro .cssTable th:first-child {
    font-weight: normal;
    padding: 4px;
    vertical-align: top;
    width: 20px;
}
.cssTable caption {
    margin-top: 20px;
}
.indent {
    margin-left: 5%;
    width: 95%;
}


