/* for  jobs pages */
.field-name-field-eo-ada-boilerplate {
    clear: both;
    font-size: 90%;
    font-style: oblique;
}
#main h3 {
	margin: 0 0 5px 0;
}
#main h1, #main h2 {
	margin: 0 0 20px 0;
}
.group-middle .field-label {
    background: #868686;
    color: #FFFFFF;
    font-weight: bold;
    margin: 20px 0;
    padding: 4px;
	font-size: 115%;
}