body.gallery {
	background-color: rgba(31, 37, 45, 0.5);
}
.gallery #main, .gallery .no-sidebars #main {
	padding-top: 0;
}
.gallery #content {
	background: #1f252e;
}
.gallery #content-inside {
	padding-top: 20px;
}
.gallery #content h1 {
	color: #fff;
	text-shadow: 2px 2px 2px #000;
	margin-bottom: 10px;
	font-size: 175%;
}
.gallery .view-filters {
	width: 100%;
	margin-top: 0;
}
.gallery label {
	color: #bbb;
}
.gallery input.form-text, .gallery select.form-select, .gallery input.form-file {
	background: #2b323b;
	border: 1px solid #000000;
	color: #ccc;
	-webkit box-shadow: -1px 1px 2px #575e69 inset;
	box-shadow: -1px 1px 2px #575e69 inset;
}
.gallery .views-exposed-widget {
	float: left;
	max-width: 185px;
}
.gallery #footerNSIDC {
	border-top: none;
}
.gallery #footer {
	border-top: 1px solid #999;
	margin-bottom: 0;
}
.form-item option {
background: #efefef;
color: #464646;
}
.gallery .gallery-wrapper {
	height: 660px;
	margin-bottom: 20px;
}
.gallery .no-result {
	color: #fff;
}
@media screen and (min-width: 980px) and (max-width: 1100px) {
.gallery .views-exposed-widget {
	max-width: 155px;
}
}
@media screen and (min-width: 760px) and (max-width: 980px) {

}
@media screen and (max-width: 759px) {
	.gallery .view-filters {
	width: 100%;
	margin-top: 15px;
	}
}