/* GLOBAL FOR THE SLIDESHOWS ON PROGRAM PAGES */



/* views slideshow using basic_slideshow content type */
.skin-default {
    background: none repeat scroll 0 0 #f3f4f6;
    box-shadow: 3px 3px 3px #bbbbbb;
    margin: 20px 0 20px 20px;
    padding: 0;
    min-height: 300px;
	float: right;
}
.views-slideshow-controls-bottom {
	position: relative;
	top: 210px;
	margin-left: 41px;
}
.views-slideshow-pager-field-item .views-content-field-image img {
    opacity: 0.6;
    float: left;
    height: 45px;
    width: 45px;
    line-height: 52px;
    padding: 0;
    margin-right: 5px;
    background: none;
    overflow: hidden;
    z-index: 101;
	position: relative;
}
.widget_pager div.active img {
    opacity: 1;
}
.views_slideshow_cycle_main .field-content img {
	position: absolute;
	min-height: 195px;
}
.field-slideshow-slide img {
    border: 1px solid #fff;
}
.field-slideshow-wrapper {
    float: left;
    padding-left: 28px;
    margin-top: 28px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-right: 20px;
	min-height: 250px;
}
.slideshow-title {
    padding: 20px 10px 10px 0;
    font-weight: bold;
    font-size: 1.1em;
    color: #0b4bc2;
	letter-spacing: -.02em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.slideshow-text {
    padding-right: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#block-system-main .clearfix, #block-system-main .clearfix:after {
	clear: none;
}
/* end slideshow */
form#advSearch table td {
	border: none;
}

@media only screen and (min-width:1100px) { 
.skin-default {
    width: 75%;
}
}

@media only screen and (min-width:960px) and (max-width:1099px) {
/* views slideshow using basic_slideshow content type */
.skin-default {
    width: 100%;
}

}

@media only screen and (min-width:720px) and (max-width:959px) {
/* views slideshow using basic_slideshow content type */
.skin-default {
    width: 100%;
}

.slideshow-text {
    display: none;
}
}

@media only screen and (max-width:719px) {
/* views slideshow using basic_slideshow content type */
.skin-default {
    width: 100%;
}

.slideshow-text {
    display: none;
}
}

