html {
	background-image: none;
	font-size: 100%;
}
body {
    font: 0.9em/175% 'Open Sans',Segoe UI,Arial,Helvetica,sans-serif;
}
#zenbox_tab, #utility #search-box input[type="text"] {
    -moz-box-sizing: content-box;
	box-sizing: content-box;
}
#content, #content #content-inside {
	padding: 0;
	height: 100%;
	width: 100%;
	max-width: 100%;	
}
#sota-page-wrapper {
	min-height: 600px;
}
#banner {
	padding: 0;
	height:50px;
	position: absolute;
    top: 64px;
}
.region-banner {
	width: 960px;
	margin: 0 auto;
}
#banner h1 {
	text-indent: -9999px;
	height: 44px;
	background: url(/sites/nsidc.org/files/images/state-of-the-arctic/banner.png) no-repeat;
	background-size: 550px;
	background-position: -60px 0;
	width: 430px;
	float: left;
	margin: 6px 0 0 0;
}
#banner .menu {
	float: left;
    margin: 18px 0 0 10px;
    width: 520px;
	padding: 0;
}
#banner .menu li.leaf {
    font-size: 14px;
}
#banner .menu li.leaf a {
	padding: 4px 5px;
}
#content h1 {
	position: absolute;
    top: 60px;
    z-index: 99;
	left: 25%;
	width: 50%;
	text-align: center;
	font-size: 30px;
	font-family: Interval, Impact, helvetica, sans-serif;
	text-shadow: 2px 2px #FFFFFF;
}
#text-slide, #text {
	top: 150px;
	position: absolute;
    left: 0;
	}
#text {
	z-index: 99;
	width: 300px;
    background: #FFFFFF;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    opacity: 0.8;
	filter:Alpha(opacity=80);
	box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
    padding: 15px 15px 10px 25px;
	font-size: 13px;
	line-height: 20px;
}
#text h2 {
	font-size: 18px;
	margin-top: 0;
	line-height: 18px;
}
#text-slide {
	z-index: 100; 
	width: 297px; 
	height: 19px; 
	cursor: pointer;
	box-sizing: border-box;
	padding-left: 20px;
}
#text-slide .show-text {
	font-size: 10px;
	color: #646464;
	position: relative;
	top: -2px;
}
.ui-icon-circle-arrow-w, 
.ui-icon-circle-arrow-e {
	float: right;
	margin-top: 5px;
	}
.morecontent span {
    display: none;
}
.sota #zenbox_tab {
	top: -1000px; /* hide the ASK US tab */
}
.show-more, .show-less {
	font-size: 12px;
	padding-right: 16px;
	background: url(../images/menu-expanded.png) no-repeat right 4px;
}
.show-less {
   position: absolute;
    right: 12px;
	bottom: 0;
	line-height: 18px;
	background: url(../images/menu-roll-up.png) no-repeat right 4px;
	float: right;
	margin-top: 15px;
}
#location-panel-wrapper {
    left: 85px;
}
#title-view-panel-wrapper {
     top: 10px;
}
.leaflet-left {
    left: 26px;
}
.leaflet-top {
    top: 20px;
}
#footer {
	display: none;
}
#time-series-panel-wrapper {
	z-index: 9000;
}
#month-dropdown {
    padding: 0 5px;
}
@media screen and (max-width: 1068px) {
	#app-view #controls-panel {
	bottom: 20px;
	}
	#time-series-panel-wrapper {
    bottom: 80px;
}
}
@media screen and (min-width: 760px) and (max-width: 980px) {

	.region-banner {
	margin: 0;
	padding-left: 30px;
	}
	#banner .menu {
	padding-left: 0;
	}
	#banner .menu li.leaf {
	margin: 0;
	}
}