/* styles for User Registration forms */
fieldset.webform-component--data-set-information {
	display: none;
}
.views-field.views-field-field-dataset-ftp-link {
    float: right;
    padding-top: 20px;
    width: 25%;
}
.views-field.views-field-title {
    border-right: 1px solid #dddddd;
    box-sizing: border-box;
    float: left;
    margin-bottom: 16px;
    padding-right: 2%;
    width: 73%;
}
#webform-client-form-14432 .form-actions {
    margin-top: 12px;
}
.dataset-title-text {
    font-weight: bold;
}

.webform-container-inline label:after {
    content: ": ";
}

.form-type-radio label.option:after {
    content: " ";
}

#webform-client-form-14432 .webform-container-inline label, #webform-client-form-17526 .webform-component label {
	margin-right: 10px;
}

#webform-client-form-14432 .webform-container-inline div.description, #webform-client-form-17526 .webform-component div.description {
    display: inline;
}
.fieldset-description {
    font-size: 90%;
    font-style: italic;
    margin-bottom: 12px;
    margin-left: 6px;
    margin-top: -10px;
}
.view-dataset-registration-form {
    clear: both;
	overflow: hidden;
}