#wrapper #banner {
	border-bottom: none;
	margin: 0;
	padding: 0;
	height: auto;
}
#homeNoticesContainerNSIDC p {
	background: none;
	border-left: 8px solid #E58358;
	color: #A64D26;
	font-size: 85%;
	font-weight: bold;
	line-height: 1.3;
	margin: 24px 0 0 35px;
	padding: 0 30px 0 10px;
}
#homeNoticesContainerNSIDC p span {
	color: #00659E;
	font-weight: bold;
}
#content-inside img {
	box-sizing: content-box;
	-moz-box-sizing: content-box;
}
#views_slideshow_cycle_main_home_page-page {
	height: 380px;
}
.views-slideshow-controls-bottom {
    left: 50px;
    position: relative;
    top: -70px;
    z-index: 20;
	height: 55px;
}
.views-slideshow-controls-bottom img {
    background: none transparent;
    float: left;
    margin-right: 10px;
    opacity: 0.7;
    padding: 3px;
}
#widget_pager_bottom_home_page-page div.active img {
	background: #ffffff;
	opacity: 1;
}
#content-inside .attachment img {
	padding: 2px;
	float: left;
	margin: 7px 12px 0 0;
	width: 65px;
}
.view-content .node.node-teaser {
	margin-bottom: 10px;
	padding-top: 10px;
	border-top: 1px solid #dddddd;
}
span.date-display-single {
    font-size: 12px;
}
h3.teaser-title {
	margin: 0 0 5px 0;
}
.featureElement {
	border: 1px solid #ddd;
	margin-bottom: 15px;
	padding: 12px 12px 0 12px;
}
.featureElement h3 {
    color: #06070B;
	margin: 0 0 10px 0;
}
.featureElement ul {
	list-style: none;
	padding-left: 0;
}
.featureElement ul li, .featureElement p {
	margin-bottom: 12px;
}
.featureElement select {
	font-family: 'open sans', arial, helvetica, sans-serif;
	width: 100%;
	margin: 10px 0 20px 0;
	border: 1px solid #ccc;
}
#contentFeatured {
	background: #fff;
	padding: 0;
}
#contentFeatured img {
	float: left;
	margin: 0 10px 0 0;
	padding: 3px;
	border: 1px solid #ddd;
	width: 65px;
}
#contentFeatured img.img-no-border-left {
	border: none;
	background: none transparent;
	width: auto;
	margin-top: 5px;
}
.attachment {
	margin-top: 10px;
	clear: both;
}
#content-inside .views_slideshow_cycle_main .field-content img {
	padding: 8px;
	background: #efefef;
	border: 1px solid #ddd;
}
#content-inside .field-slideshow {
	overflow: visible;
}
@media all and (min-width: 980px) and (max-width: 1100px) {
  .views-slideshow-controls-bottom {
	left: 20px;
	top: -50px;
  }
  .views_slideshow_cycle_main .views-slideshow-cycle-main-frame, #views_slideshow_cycle_main_home_page-page {
    height: 320px !important;
  }
}
@media all and (min-width: 760px) and (max-width: 980px) {
  .views-slideshow-controls-bottom {
    display: none;
  }
  .views_slideshow_cycle_main .views-slideshow-cycle-main-frame, #views_slideshow_cycle_main_home_page-page {
    height: 280px !important;
  }
}
@media all and (max-width: 760px) {
  .views-slideshow-controls-bottom {
    display: none;
  }
  .views_slideshow_cycle_main .views-slideshow-cycle-main-frame, #views_slideshow_cycle_main_home_page-page {
    height: 220px !important;
    margin-top: 20px;
  }
}