.view-cryosphere-inthenews .views-field-field-publish-date {
    color: #000000;
    font-size: 90%;
    margin-top: 20px;
}

.view-cryosphere-inthenews .detail-text p, .page-news-inthenews .views-row p {
    margin: 0;
}
.page-news-inthenews .views-row, .view-header {
	margin: 24px 0;
}
.page-news-inthenews #sidebar-second {
width: 254px;
}
.page-news-inthenews .container_16 .grid_10 {
	width: 556px;
	}
	
.more-link {
    float: right;
    font-weight: bold;
}
#block-menu-menu-for-the-media {
	margin-top: 18px;
}
.page-news-inthenews .region-sidebar-second .block h2 {
	border-bottom: 1px solid #c9dce7;
    color: #474747;
    font-family: 'Open Sans';
    font-size: 110%;
    font-weight: bold;
    margin: 24px 0 0;
    padding: 0 0 3px;
}

.view-id-nsidc_in_the_news {
    margin-top: 24px;
}
@media only screen and (min-width: 760px) and (max-width: 980px) {	
.page-news-inthenews .container_16 #sidebar-second {
    width: 209px;
}
.page-news-inthenews .container_16 .grid_10 {
    width:  410px;
}
}
@media only screen and (max-width: 760px) {
.page-news-inthenews .container_16 .grid_10, .page-news-inthenews .container_16 #sidebar-second {
    width: 95%;
}
}